<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="topex" sortOrder="1000" translate="label">
            <label>Topex</label>
        </tab>
        <section id="gtx_webservice" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="99" translate="label">
            <label>Webservice</label>
            <tab>topex</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="general" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
                <label>General</label>
                <field id="username" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="1" translate="label" type="text">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="verify_peer" translate="label" type="select" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Verify SSL certificate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

